:root
{
    --blue-color:rgb(26, 21, 104);
    --black-color: #444344;
    --box-shadow:0 0 5px black
}
html,body
{
    padding: 0px;
    margin: 0px;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    width: 100%;
}
nav
{
    display: flex;
    background-color: var(--blue-color);
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
nav ul
{
    display: flex;
}
nav li
{
    list-style: none;
}
.brandimage
{
    width: 120px;
    height: 60px;
    padding: 5px;
}
nav li a
{
    padding-right: 25px;
    font-family: 'Quicksand', sans-serif;
    color: white;
    text-decoration: none;
}
nav li a:hover
{
    text-decoration: underline;
}
.footer
{
    width: 100%;
    background-color: var(--black-color);
    height: 60px;
    display: flex;
    color: white;
    align-items: center;
}
.footer > a
{
    padding-right: 20px;
    font-family: 'Quicksand', sans-serif;
    color: white;
    text-decoration: none;
    padding-left: 15px;
}
.footer > a:hover{
    text-decoration: underline;
}
.colu-1
{
    width: 10%;
}
.colu-2
{
    width: 20%;
}
.colu-3
{
    width: 30%;
}
.colu-4
{
    width: 40%;
}
.colu-5
{
    width: 50%;
}
.colu-6
{
    width: 60%;
}
.colu-7
{
    width: 70%;
}
.colu-8
{
    width: 80%;
}
.colu-9
{
    width: 90%;
}
.colu-10
{
    width: 100%;
}
.colu-1,.colu-2,.colu-3,.colu-4,.colu-5,.colu-6,.colu-7,.colu-8,.colu-9,.colu-10
{
    padding: 15px;
}
.container
{
    display: inherit;
    text-align: center;
}
.row
{
    display: flex;
    margin: auto;
    padding-top: 20px;
    align-items:center;
    padding: 5% 15%;
}
input
{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    outline: none;
    height: 30px;
    border-radius: 15px;
    border: solid 2px;
    border-color: var(--black-color);
    box-sizing: border-box;
    padding-left: 15px;
}
.modulo_pago
{
    padding: 30px;
    box-shadow: var(--box-shadow);
}
.formulario_pago
{
    text-align: start;
    padding: 30px;
    box-shadow: var(--box-shadow);
    font-size: 16px;
}
.colu-4
{
    padding-right: 40px;
}
.articulo
{
    height: 210px;
    width: 200px;    
    border-radius: 15px;
    box-shadow: var(--box-shadow);
}
button
{
    border: solid 3px #856084;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    background-color: #D4ADCF;
    color: #45474A;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    outline: none;
}
button:hover{
    cursor: pointer;
}

@media (max-width:900px)
{
    .row
    {
        display: inherit; 
    }
    .colu-1,.colu-2,.colu-3,.colu-4,.colu-5,.colu-6,.colu-7,.colu-8,.colu-9,.colu-10
    {
        width: 100%; 
    }
}   