@import url('https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,900');


:root {
    --blue-color: #12557f;
    --black-color: #444344;
    --box-shadow:0 0 5px black
}

html,body {
    padding: 0px;
    margin: 0px;
    font-family: 'Catamaran', sans-serif;
    font-size: 15px;
    width: 100%;
    height: 100%;
}

#navegacion {
    display: flex;
    background-color: var(--blue-color);
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#navegacion ul {
    display: flex;
}

#navegacion li {
    list-style: none;
}

#logo {
    width: 100px;
    height: 50px;
    padding: 5px;
}

#navegacion li a {
    padding-right: 25px;
    font-family: 'Quicksand', sans-serif;
    color: white;
    text-decoration: none;
}

#navegacion li a:hover {
    text-decoration: underline;
}

.nav_options {
    margin-right: 20px;
}

.footer {
    width: 100%;
    background-color: var(--black-color);
    height: 60px;
    display: flex;
    color: white;
    align-items: center;
}

.footer > a {
    padding-right: 20px;
    font-family: 'Quicksand', sans-serif;
    color: white;
    text-decoration: none;
    padding-left: 15px;
}

.footer > a:hover {
    text-decoration: underline;
}

.colu-8 {
    width: 100%;
}

#registrar_usuario_form {
    width: 80%;
}

#formulario {
    display: flex;
    font-size: 18px;
}

#preguntas_form_izq {
    width: 40%;
    padding-left: 30px;
    padding-right: 100px;
}

#preguntas_form_drh {
    width: 40%;
}

#salud_si {
    padding: 0px;
    margin: 0px;
    margin-top: 15px;
    display: flex;
    align-items: center;
}

#check_form {
    margin: 0px;
    margin-right: 15px;
    padding: 0px;
    width: 25px;
    height: 25px;
}

#enviar_registro {
    width: 70%;
}

#div_registro {
    text-align: center;
}

.row {
    display: flex;
    margin: auto;
    padding-top: 20px;
    align-items:center;
    padding: 5% 15%;
}

input {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    outline: none;
    height: 30px;
    border-radius: 15px;
    border: solid 2px;
    border-color: var(--black-color);
    font-family: 'Catamaran', sans-serif;
    box-sizing: border-box;
    padding-left: 15px;
}

.Mi_Usuario {
    padding: 30px;
    box-shadow: var(--box-shadow);
}

.Datos_Usuario {
    text-align: start;
    padding: 30px;
    box-shadow: var(--box-shadow);
    font-size: 16px;
    width: auto;
    margin-right: 0px;
}

.foto_usuario {
    height: 220px;
    width: 280px;    
    border-radius: 15px;
    box-shadow: var(--box-shadow);
}

button {
    border: solid 3px #1c1e8f;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    background-color: #b8ebf6;
    color: #3a3c3f;
    font-weight: 500;
    font-size: 20px;
    font-family: 'Catamaran', sans-serif;
    outline: none;
}

button:hover{
    cursor: pointer;
}

#btn_registroDeUsuarios {
    margin: 10px;
}

#btn_registroDeUsuarios:hover {
    height: 45px;
    width: 110%px;
}

#a_registroDeUsuarios {
    outline: none;
    text-decoration: none;
}

#a_registroDeUsuarios:hover {
    color: #ad1499;
}

#registrar_usuario_form {
    width: 100%;
}

#nombre_usuario {
    color: rgb(95, 92, 92);
    font-size: 16px;
}

#anoNacimiento_usuario {
    color: rgb(95, 92, 92);
    font-size: 16px;
}

#contrasena_usuario {
    color: rgb(95, 92, 92);
    font-size: 16px;
}

#enviar_registro {
    border-color: #12557f;
    background-color: #e3f3fd;
    color: #00cb86;
    font-weight: bold;
}